body {
font-family: 'Arial, Helvetica, sans-serif';

}
.layout {
    display: flex; 
    gap: 30px; 
    padding: 0 10px; 
    
    }
    
.citybtns {
    display: flex; 
    flex-direction: column;
    gap: 10px; 
    margin-top: 20px;
    
    }

.forecast {
display: flex; 
flex-direction: row;
gap: 20px;  
}

.col {
background-color: gray;
width: 150px; 
height: 250px;
padding: 10px;
}

.cityoverview {
border: 1px solid black; 

}

.title {
background-color: lightblue;
padding: 10px;
margin-bottom: 10px;


}
.text {
text-align: center;

}

.search {
font-size: 25px; 
}

.search {
display: inline-block; 
font-family: 'Arial, Helvetica, sans-serif';
border-radius: 20px;
padding: 10px;
background-color: white;
border-radius: 12px;
}